<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testsource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29DE46D51D3D0158003F817A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29DE46EE1D3D0158003F817A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29DE46F91D3D0158003F817A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
